.top-sec-content{
    padding: 12% 10% 14.8% 10%;
    background-image: url("./assets/images/neon.png");
    background-size: auto;
}

.bk-img-top{
    position: absolute;
    z-index: -10;
    overflow-x:hidden;
    object-fit: fill;
    max-width: -webkit-fill-available;
}
.soc-links{
    margin-top: 2rem;
}
.soc-item{
    padding-right: 1rem;
}
.mob-bk-im-top{
    position: absolute;
    z-index: -1;
}